@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  color: #fff;
  background: url('../img/showcase.jpg') no-repeat center center/cover fixed;
  height: 100vh;
}

.container {
  height: 80vh;
}

img {
  width: 9rem;
}

.showcase h2 {
  font-weight: 600;
}

/* .showcase h2 span {
  color: #ff4444;
} */

.showcase p {
  font-size: 1.1rem;
}

.showcase p span {
  color: #ff4444;
  font-weight: 600;
  text-decoration: underline;
}

.btn__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn__actions a {
  font-weight: 600;
  font-size: .9rem;
  padding: .6rem;
  border-radius: 50px;
  border: none;
}

.btn__actions .signin {
  position: relative;
  background-color: #0099CC;
  border: none;
}
.btn__actions .signin:hover {
  background-color: #485fc7;
}


.btn__actions .login {
  background-color: #00d1b2;
  border: none;
}
.btn__actions .login:hover {
  background-color: #33afa3;
}

.btn__actions .follow {
  background-color: #ffbb33;
  border: none;
}
.btn__actions .follow:hover {
  background-color: #e9ae3a;
  border: none;
}

.btn__actions .icon {
  font-size: 1rem;
  margin-right: .25rem;
}

/* ============ Animation btn ============ */
.button {
  position: relative;
  color: #fff;
  padding: .9rem 2.20rem;
  transition: .4s;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: .6s;
  opacity: 0;
}

/* Move 3D geometric elements */
.button__cone {
  width: 18px;
  transform: translate(-25px, -6px) rotate(55deg);
  filter: blur(.5px);
}

.button__torus {
  width: 38px;
  transform: translate(7px, -14px) rotate(80deg);
}

.button__icosahedron {
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  filter: blur(.9px);
}

.button__sphere {
  width: 30px;
  transform: translate(-5px, 15px) rotate(40deg);
}

/* View shadow gradient */
.button:hover::after {
  opacity: 1;
}

/* View 3D geometric elements */
.button:hover img {
  opacity: 1;
}

.button:hover .button__cone {
  transform: translate(-38px, -10px) scale(1.2);
}

.button:hover .button__torus {
  transform: translate(7px, -32px) scale(1.1);
}

.button:hover .button__icosahedron {
  transform: translate(50px, -20px) scale(1.1);
}

.button:hover .button__sphere {
  transform: translate(-14px, 20px) scale(1.1);
}